.header-top
  .container
    .row
      .col-md-6.colsm-6.columns
        .header-top-left
          %ul.social-top
            %li
              = link_to '#', class: 'Tooltip' do
                Facebook
                %span.fa.fa-facebook
            %li
              = link_to '#', class: 'Tooltip' do
                Twitter
                %span.fa.fa-twitter
            %li
              = link_to '#', class: 'Tooltip' do
                Google+
                %span.fa.fa-google-plus
            %li
              = link_to '#', class: 'Tooltip' do
                LinkedIn
                %span.fa.fa-linkedin
            %li
              = link_to '#', class: 'Tooltip' do
                Pinterest
                %span.fa.fa-pinterest
      .col-md-6.col-sm-6.columns
        .header-top--right
          %ul.top-menu
            %li
              %a
                %i.fa.fa-shopping-cart
                  0 item(s) - $0.00
              .dropdown
                %a.dropdown-toggle{data: {toggle: 'dropdown'}}
                  %i.fa.fa-globe
                    English
                  %b.caret
                %ul.dropdown-menu.dropdown-menu-right
                  %li.active
                    %a English
                  %li.active
                    %a Dude
                  %li.active
                    %a Kook
= render 'layouts/main_nav'
= render 'layouts/everything'