!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Bhsc Pundit'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Bhsc Pundit'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    :javascript
      var FullscreenrOptions = {  width: 1024, height: 683, bgID: '#bgimg' };
      jQuery.fn.fullscreenr(FullscreenrOptions);
    = csrf_meta_tags
  %body
    <!-- This is the background image -->
    = image_tag randomized_background_image, id: 'bgimg', height: '3072', width: '3072'
    %div
      %header
        = render 'layouts/navigation'
      #realBody
        %main{:role => "main"}
          = render 'layouts/messages'
          = yield
