!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Bhsc Pundit'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Bhsc Pundit'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    <!-- This is the background image -->
    = image_tag 'mt_wash_from_bwoods.jpg', height: '1024', width: '1683', id: 'bgimg'
    %div#realBody>
      %header
        = render 'layouts/navigation'
      %main{:role => "main"}
        = render 'layouts/messages'
        = yield
